
*{

  line-height: 1.15;
}
       

/* html{
    position:relative;
}  */


 body{
   position:relative;
    background-image: url("https://images.unsplash.com/photo-1498049860654-af1a5c566876?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ee039d16c1a1638867bb1cc95bf3b833&auto=format&fit=crop&w=1050&q=80"); 
    font-size: 18px;
    background-repeat:repeat;
    background-size: cover
}



h1{
    background-color: teal;
   color: #ffffff;
   margin-bottom: 0;
   padding: 5px 0;

   
} 

    
h2{
    color:teal;
    margin-bottom: 20px;
}

h4{
    position: absolute;
    bottom:5%;
    z-index: 1;
    padding:2px;
    right:0;
    left:0;
    width:90%;
    font:16px;
    background-color: teal;
    text-align: center;
    }

.borderBottom{
    border-bottom: #777777 2px solid ;
}

.floatleft{
    float: left;
}

footer{
    background-color:#666666;
    color: #ffffff;
    border-top: 10px solid teal;
    padding: 10px;
    text-align: center;
    
}

.bc-color{
    background-color: rgb(193, 230, 219);

}

.push{
min-height: 20%;
}


.img2{

    width:90%;
   height: 13%;
   margin: 10px 0;

}

.container2{
    width:50%;
}

.containerAll {
    /* Box-model */
    width: 100%;
    padding: 20px;
  }

  .bottom{
      position: fixed;
      bottom: 0;
      width:100%
      
  }

 .border-info{
     background-image: url("https://images.unsplash.com/photo-1492546643178-96d64f3fd824?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8c8b0ca61fa643ce14689caf7a5bd84d&auto=format&fit=crop&w=1051&q=80");
     background-repeat:repeat
 }

 .nav-link{
     color:red
 }